#########
# Print #
#########
snippet p
  print(${1}); print("\n");

snippet pd
  print('${1/'//g}:' . ${1}); print("\n");

snippet pr
  print_r(${1}); print("\n");

snippet prd
  print('${1/'//g}:' . "\n"); print_r(${1}); print("\n");

